input {
  color: black;
font-size: 16px;
margin-bottom: 10px;
width: 300px;
}
button {
  font-size: 24px;
  color: black;
}

.ng-touched.ng-valid {
  border: 2px green solid;
}

.ng-touched.ng-invalid {
  border: 2px red solid;
}

#info {
  margin-top: 20px;
}
.error{
  color:red;
}
.saved{
  color:green;
}
.form
{
  color: black;
  font-style: bold;
}
